.navbar {
    display : flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(158, 219, 158);

    background-image: url('../assets/mini.png');
    background-repeat: repeat-x; 
    background-size: 100px auto;  
    background-position: center -5px; 
    
    padding: 1rem;
}

.navbar-left .logo {
    font-size: 1.5rem;
    font-weight : bold;
    text-decoration: none;
}
.logo-img:hover {
    transform: scale(1.05);
}

.logo-img {
   height: 200px;   
  width: auto;
  margin-top: -90px;
  margin-bottom: -80px; 
}

.navbar-center .nav-links a {
  color: #022514;       
  text-decoration: none; 
  font-weight: 600;
  cursor: pointer;       
  transition: color 0.2s ease-in-out;
  font-family:cursive ;
}

.navbar-center .nav-links {
  list-style: none; 
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10rem;
}

.navbar-center .nav-links a:hover {
  color: #528165; 
}

.navbar-right .nav-links2 a {
  color: #022514;       
  text-decoration: none; 
  font-weight: 600;
  cursor: pointer;       
  transition: color 0.2s ease-in-out;
  font-family:cursive ;
}

.navbar-right .nav-links2 {
  list-style: none; 
  display: flex;
  margin: 0;
  padding:1;
  gap: 1rem;
} 

.navbar-right .nav-links2 a:hover {
    color: #528165;
}

.navbar-right {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-top : 5px;
  margin-right :20px;
  margin-left: 60px;      
}

