.home-page {
    background-color: rgb(177, 226, 177);
    min-height: 100vh;
    margin-top: -1px;
    
    border:10px solid;
    color: #022514



}

/* Home page with drawing of frog, play button, setting button 
*/